.Login-container {
    padding: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/background-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Login {
    width: 20%;
    padding: 10px;
    flex-direction: column;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(82, 117, 160);
    animation: slide-up 1s ease-out forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.Inputstyle {
    border-radius: 5px;
}

.Loginbutton {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: azure;
}

.Logintext {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(78, 126, 158);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}