.Login-container {
    height: min-content;
    width: min-content;
    padding: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(150, 180, 206);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(138, 138, 138);
}